---
// Imports
import DefaultLayout from '../layouts/DefaultLayout.astro'

import Button from '../components/Button.astro'
---
<DefaultLayout title="404">
    <main class="text-white h-screen flex flex-col gap-4 justify-center items-center">
        <h1 class="text-5xl">Page not found</h1>
        <Button title="Return home" href="../" />
    </main>
</DefaultLayout>
