---
import Link from './Link.astro'

interface Props{
    title?: string,
    href: string,
}

const { title = "Button title", href } = Astro.props;

---
<Link href={href}>
    <button tabindex="-1" class="bg-accent-400 text-white py-2 px-5 rounded-md">
        {title}
    </button>
</Link>